
@model Inventory.Models.LocationModels.LocationModel
@{
    ViewBag.Title = "CreateLocation";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}

@section Scripts
{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(".alert").delay(4000).slideUp(200, function () {
            $(this).alert('close');
        });
    })
    var ClearModel = function () {
        $("#txtLocationName").val('');
        $("#txtShortName").val('');
        $("#txtDescription").val('');
        $("#txtCode").val('');
        $("#txtPhone").val('');
        $("#txtEmail").val('');
        $("#txtAddress").val('');
        $("#ddlBranch").prop('selectedIndex', 0);
    }
</script>
}


<div class="container pl-0 pr-0">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            @if (ViewBag.FormType != 2)
            {
                <h5>Create Location</h5>
            }
            else
            {
                <h5>Edit Location</h5>
            }
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            @Html.ActionLink("All Location","LocationList","Location",null,new { @class= "btn btn-second float-right" })
        </div>
    </div>
    <div class="row border-bottom mt-2"></div>
    <div class="row">
        <div class="col-md-6 col-lg-6"></div>
        <div class="col-md-6 col-lg-6 pt-2">
            @if (ViewBag.Message != null)
            {               
                <div class="alert @(ViewBag.Type==1?"alert-success":"alert-danger")" role="alert">
                    <strong>@ViewBag.Message</strong>
                </div>
            }
        </div>
    </div>
                   
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="row mt-2 border ml-0 mr-0">
            <div class="col-sm-12 col-md-12 col-lg-12 bg-gray-color">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6"><label class="mt-2 page-title">Location Detail</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a href="#" class="btn btn-setup-clear" onclick="ClearModel()"><i class="fas fa-redo clear-icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="row mt-2">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.HiddenFor(m => m.LocationID)
                                    @Html.LabelFor(m => m.LocationName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control",id="txtLocationName" })
                                    @Html.ValidationMessageFor(m=>m.LocationName,"", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ShortName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control", id = "txtShortName" })
                                    @Html.ValidationMessageFor(m=>m.ShortName,"",new { @class="text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", id = "txtDescription" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "txtCode" })
                                    @Html.ValidationMessageFor(m=>m.Code,"", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id = "txtPhone" })
                                    @Html.ValidationMessageFor(m=>m.Phone,"", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtEmail" })
                                    @Html.ValidationMessageFor(m=>m.Email,"", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control textarea-height", id = "txtAddress" })
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.isMultiBranch==true)
                        {
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.BranchName, new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.BranchID, ViewBag.Branches as SelectList, new { @class = "form-control", id = "ddlBranch" })
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                @if (ViewBag.FormType != 2)
                                {
                                    <input type="submit" value="SAVE" formaction="@Url.Action("InsertLocation","Location")" class="btn btn-save-width btn-first float-right" />
                                }
                                else
                                {
                                    <input type="submit" value="UPDATE" formaction="@Url.Action("UpdateLocation","Location")" class="btn btn-save-width btn-first float-right" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    }    
</div>

