@model IEnumerable < Inventory.Models.LocationModels.LocationModel>
@{
    ViewBag.Title = "LocationList";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Location/LocationList",
            data: data,
            success: function (response) {
                alert("OKOKOK");
            }
        })
    });
        var ShowLocation = function (location_id) {
            $.ajax({
                type: "POST",
                url: "/Location/ShowLocation",
                data: { LocationID: location_id },
                success: function (response) {
                    $("#myModalBodyDiv").html(response);
                    $("#myModal").modal('show');
                }
            })
        }
</script>

<div class="container pl-0 pr-0">
    <div class="row ml-0 mr-0">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 pt-2 pb-2">
            <h5>Location</h5>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 pt-2 pb-2">
            @Html.ActionLink("ADD","CreateLocation","Location",null,new { @class= "btn btn-first float-right" })
        </div>
    </div>
    <div class="row mt-1 border-bottom"></div>
    <div class="row mt-3">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            @Html.TextBox("txtSearch",null,new { @class="form-control",@placeholder="Search..." })
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <table class="pt-3 pl-3 pr-3 row">
                <thead class="col-sm-12 col-md-12 col-lg-12 bg-gray border">
                    <tr class="row grid-header">
                        <th class="col-sm-3 col-md-3 col-lg-3">Name</th>
                        <th class="col-sm-3 col-md-3 col-lg-3">Code</th>
                        <th class="col-sm-3 col-md-3 col-lg-3">Branch</th>
                        <th class="col-sm-3 col-md-3 col-lg-3"></th>
                    </tr>
                </thead>
                <tbody class="col-sm-12 col-md-12 col-lg-12 border">
                    @if (Model.Count() > 0)
                    {
                        foreach (var location in Model)
                        {
                            using (Html.BeginForm("DeleteLocation", "Location",new { id=location.LocationID }))
                            {
                                <tr class="row border border-bottom-0 border-left-0 border-right-0 grid-item">
                                    <td class="col-sm-3 col-md-3 col-lg-3">
                                        @Html.DisplayFor(m => location.LocationName)
                                    </td>
                                    <td class="col-sm-3 col-md-3 col-lg-3">@Html.DisplayFor(m => location.Code)</td>
                                    <td class="col-sm-3 col-md-3 col-lg-3">@Html.DisplayFor(m => location.BranchName)</td>
                                    <td class="col-sm-3 col-md-3 col-lg-3">
                                        <input type="button" value="View" class="btn btn-black" />
                                        <input type="submit" value="Edit" formaction="@Url.Action("EditLocation","Location", new { id = location.LocationID })" class="btn btn-blue" />
                                        <input type="submit" value="Delete" class="btn btn-red" />
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr class="row bg-light-color">
                            <td class="col-sm-12 col-md-12 col-lg-12">
                                <label class="text-center grid-nodata">There is no location data...</label>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dissmiss="modal">&times;</a>
                <h4 class="modal-title">Location Detail</h4>
            </div>
            <div class="modal-body" id="myModalBodyDiv">

            </div>
        </div>
    </div>

</div>



