@using Inventory.Models
@model UserModels.UserModel
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}
<script type="text/javascript">
    $(document).ready(function(){
        $(".alert").delay(4000).slideUp(200, function () {
            $(this).alert('close');
        });
    })   
    function ShowHide(checked) {
        if (checked == true) $("#divLocationddl").show();
        else $("#divLocationddl").hide();
    }
</script>
<div class="container pl-0 pr-0">
    <div class="row mt-3">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6"><h3>Create User</h3></div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            @Html.ActionLink("All User", "UserList", "User", null, new { @class = "btn btn-black float-right" })
        </div>
    </div>
    <div class="border-bottom mt-2"></div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="row mt-3 ml-0">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 border pb-3">
                <div class="row bg-gray-color">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="mt-2 font-weight-bold">User Detail</label>
                        <input type="button" onclick="location.href='@Url.Action("CreateUser","User")'" class="btn btn-clear float-right" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            @Html.HiddenFor(model=>model.UserID)
                            @Html.LabelFor(model=>model.UserName)
                            @Html.TextBoxFor(model=>model.UserName,new { @class="form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model=>model.UserPassword)
                            @Html.TextBoxFor(model=>model.UserPassword,new { @class="form-control" })
                        </div>
                    </div>
                </div>
                @if((ViewBag.Branches as SelectList).Count()>0)
                {
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model=>model.BranchName)
                                @Html.DropDownListFor(model=>model.BranchID,ViewBag.Branches as SelectList,"--Select Branch--",new { @class="form-control" })
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        @Html.CheckBoxFor(model=>model.IsDefaultLocation, new { onchange= "ShowHide(this.checked)" }) Default Location
                    </div>
                </div>
                <div class="row" id="divLocationddl" style="display:none">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model=>model.LocationName)
                            @Html.DropDownListFor(model=>model.LocationID,ViewBag.Locations as SelectList,"--Select Location--",new { @class="form-control"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        @if(ViewBag.FormType!=2)
                        {
                            <input type="submit" value="Save" formaction="@Url.Action("InsertUser","User")" class="btn btn-red float-right" />
                        }
                        else
                        {
                            <input type="submit" value="Update" formaction="@Url.Action("UpdateUser","User")" class="btn btn-red float-right" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-6">
                @if(ViewBag.Message!=null)
                {
                    <div class="alert @(ViewBag.Alerttype=="1"?"alert-success":"alert-danger")" role="alert">
                        <strong>@ViewBag.Message</strong>
                        <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            </div>
        </div>
    }
</div>


