@using Inventory.Models
@model UserModels.LoginUserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
  
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
  
    <style>
        .container-login {
            width: 100%;
            min-height: 100vh;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px;
            position: relative;
            background-color:#ffffff;
        }
        .wrap-login {
            width: 500px;
            box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow:hidden;
             background-color:#ffffff;
        }
        .title {
            font-family: JosefinSans-Bold;
            font-size: 30px;
            line-height: 1.2;
            text-align: center;
            display: block;
            top: 0;
            left: 0;
            padding-top: 50px;
            padding-bottom: 39px;
            width:100%;
            color:#ffffff;
            background-color:#3A3972;
            margin-bottom:40px;
        }
        .inner-login {
            width: 100%;
            position: relative;
        }
        .bos-link {
            font-size: 13px;
            line-height: 1.2;
            text-align: center;
            display: block;
            width:100%;
            padding-top:10px;
        }
        .btn-admin {
            width:25px;
            height:25px;
        }
        #btnLogin{
            color:#ffffff;
            background-color:#3A3972;
        }
        #btnLogin:hover{
            background-color:#2E2D62;
        }
    </style>
</head>
<body>

    @if (ViewBag.Message != null){
        @*<p class="alert alert-danger" id="successMessage">@ViewBag.Message</p>*@
        <div class="alert alert-danger" role="alert">
                <strong>@ViewBag.Message</strong>
                @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
    }

    <div class="container-login">

        <div class="wrap-login">

            <div class="inner-login">

           @using (Html.BeginForm("Login","User",FormMethod.Post))
           {
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        @Html.Label("Quick Inventory", new { @class = "title" })
                    </div>
                </div>

                if (ViewBag.IsMultiBranch == true)
                {
                    <div class="row" style="padding:10px 30px 0 30px">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.BranchName)
                                @Html.DropDownListFor(m => m.BranchID, Model.Branches, new { @class = "form-control", onchange = "document.forms[0].submit();" })
                            </div>
                        </div>
                    </div>
                }

                <div class="row" style="padding:10px 30px 0 30px">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.UserName)
                                @Html.DropDownListFor(m => m.UserID, Model.Users, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                <div class="row" style="padding:10px 30px 0 30px">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.PasswordFor(m => m.UserPassword, new { placeholder = "Password", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserPassword, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                <div class="row" style="padding:30px 30px 0 30px">
                        <div class="col-md-12 col-sm-12">   
                            @Html.HiddenFor(m => m.ClickedLogin)                         
                            <button id="btnLogin" class="btn btn-lg btn-block">@Inventory.Resource.Login</button>
                        </div>
                   </div>

           }

                <div class="row">
                    <div class="col-md-12 col-sm-12" style="align-self:center;width:100%;text-align:center;padding-top:30px">
                        @{
                            foreach (var i in Inventory.LanguageMang.AvailableLanguages)
                            {
                                @Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "User", new { lang = i.LanguageCultureName }, null) <text> </text>
                            }
                        }
                    </div>
                </div>
                 
                <div class="row">
                    <div class="col-md-12 col-sm-12" style="align-self:center;width:100%;text-align:center;padding-top:40px">
                        <input class="btn-admin" type="image" src="~/Image/companylogo.jpg" value="Admin" data-toggle="modal" data-target="#adminLogin" />
                    </div>
                </div>

                <div class="row">
                   <div class="col-md-12 col-sm-12">
                        @Html.ActionLink("Blue Ocean Strategy Co.Ltd", "", null, new { @class = "bos-link" })
                    </div>
                </div>

            </div>

        </div>
     </div>

    <!-- Modal -->
    @using (Html.BeginForm("AdminLogin", "User",FormMethod.Post))
    {
        <div class="modal fade" id="adminLogin" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="adminModalLongTitle">ADMIN LOGIN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AdminName, new { placeholder = "Admin", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AdminName, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.AdminPassword, new { placeholder = "Password", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AdminPassword, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAdminLogin" class="btn btn-lg btn-red">@Inventory.Resource.Login</button>
                    </div>
                </div>
            </div>
        </div>

    }

    <script type="text/javascript">
        $(document).ready(function () {

            $("#BranchID").change(function () {
                var branchName = $("#BranchID option:selected").text();
                $("#BranchName").val(branchName);
            });

            $("#UserID").change(function () {
                var userName = $("#UserID option:selected").text();
                $("#UserName").val(userName);
            });

            $("#btnLogin").click(function () {
                var userName = $("#UserID option:selected").text();
                $("#UserName").val(userName);
                var branchName = $("#BranchID option:selected").text();
                $("#BranchName").val(branchName);
                $("#ClickedLogin").val(true);
            });

            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
                $("#ClickedLogin").val(false);
            });

        })
    </script>

    @*@if (ViewBag.Message != null)
    {
        <script type="text/javascript">

         $(function() {
             alert("@ViewBag.Message")
             $('.alert').alert()
         });

        </script>
    }*@

</body>
</html>
