@model IEnumerable<Inventory.Models.UserModels.UserModel>
@*@model Inventory.Models.UserModels*@
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}
<div class="container mb-3">
    <div class="row border">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 pt-2 pb-2">
            <label>Users</label>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 pt-2 pb-2">
            <input type="button" value="ADD" onclick="location.href='@Url.Action("CreateUser","User")'" class="btn btn-black float-md-right float-lg-right" />
        </div>
    </div>
    <div class="row border"></div>
    <div class="row border mt-2 pt-2 pb-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            @Html.TextBox("txtSearchUser",null, new { @class="form-control",@placeholder="Search..."})
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3 mb-3">
            <table class="pt-2 pl-3 pr-3 mb-3 row">
                <thead class="col-sm-12 col-md-12 col-lg-12 border">
                    <tr class="row bg-gray-color">
                        <th class="col-sm-3 col-md-3 col-lg-3">User Name</th>
                        <th class="col-sm-2 col-md-2 col-lg-2">Password</th>
                        <th class="col-sm-2 col-md-2 col-lg-2">Branch</th>
                        <th class="col-sm-3 col-md-3 col-lg-3">Location</th> 
                        <th colspan="2" class="col-sm-2 col-md-2 col-lg-2"></th>
                    </tr>
                </thead>
                <tbody class="col-sm-12 col-md-12 col-lg-12 border">
                    @foreach (var user in Model)
                    {
                        using (Html.BeginForm("DeleteUser", "User", new { id = user.UserID }))
                        {
                            <tr class="row border border-bottom-0 border-left-0 border-right-0">
                                <td class="col-sm-3 col-md-3 col-lg-3">@Html.DisplayFor(m => user.UserName)</td>
                                <td class="col-sm-2 col-md-2 col-lg-2">@Html.DisplayFor(m => user.UserPassword)</td>
                                <td class="col-sm-2 col-md-2 col-lg-2">@Html.DisplayFor(m => user.BranchName)</td>
                                <td class="col-sm-3 col-md-3 col-lg-3">@Html.DisplayFor(m => user.LocationName)</td>
                                <td class="">
                                    <input type="submit" value="Edit" formaction="@Url.Action("EditUser","User",new { id=user.UserID })" class="btn btn-blue" />
                                    <input type="submit" value="Delete" class="btn btn-red" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>       
    </div>
</div>

