@model Inventory.Models.BranchModels.BranchModel
@{
    ViewBag.Title = "CreateBranch";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}

<div class="container pl-0 pr-0 pt-0">
    <div class="row border-bottom pb-2">
        <div class="col-sm-6 col-md-6 col-lg-6"><h5>Create Branch</h5></div>
        <div class="col-sm-6 col-md-6 col-lg-6">@Html.ActionLink("All Branch","BranchList","Branch",null,new { @class= "btn btn-second float-right" })</div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"></div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            @if (ViewBag.Message != null)
            {
                <div class="row">
                    <div class="alert @(ViewBag.Type==1?"alert-success":"alert-danger")" role="alert">
                        <strong>@ViewBag.Message</strong>
                        <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
        </div>
        
    </div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="row mt-3 border ml-0 mr-0">
            <div class="col-sm-12 col-md-12 col-lg-12 bg-gray-color">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6"><label class="mt-2 page-title">Branch Detail</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6" onclick="location.href='@Url.Action("CreateBranch", "Branch")'"><button class="btn btn-setup-clear"><i class="fas fa-redo clear-icon"></i></button></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.HiddenFor(m => m.BranchID)
                                    @Html.LabelFor(m => m.BranchName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ShortName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control textarea-height" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Tax, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Tax, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ServiceCharges, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.ServiceCharges, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                @if (ViewBag.FormType != 2)
                                {
                                    <input type="submit" value="SAVE" formaction="@Url.Action("InsertBranch","Branch")" class="btn btn-save-width btn-first float-right" />
                                }
                                else
                                {
                                    <input type="submit" value="UPDATE" formaction="@Url.Action("UpdateBranch","Branch")" class="btn btn-save-width btn-first float-right" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>

