@model Inventory.Models.CustomerModels.CustomerModel
@{
    ViewBag.Title = "CreateCustomer";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".alert").delay(4000).slideUp(200, function () {
            $(this).alert('close');
        });
    });
</script>
<div class="container pl-0 pr-0">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h5>Create Customer</h5>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            @Html.ActionLink("All Customer","CustomerList","Customer",null,new { @class="btn btn-second float-right" })
        </div>
    </div>
    <div class="row border-bottom mt-2"></div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"></div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            @if (ViewBag.Message != null)
            {
                <div class="row">
                    <div class="alert @(ViewBag.Type==1?"alert-success":"alert-danger")" role="alert">
                        <strong>@ViewBag.Message</strong>
                        <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="row border ml-0 mr-0 mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 bg-gray-color">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6"><label class="mt-2 page-title">Customer Detail</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6" onclick="location.href='@Url.Action("CreateCustomer", "Customer")'"><button class="btn btn-setup-clear"><i class="fas fa-redo clear-icon"></i></button></div>
                </div> 
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                <div class="row mb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.HiddenFor(m=>m.CustomerID)
                                    @Html.LabelFor(m=>m.CustomerName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m=>m.CustomerName,new { @class="form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">                                  
                                    @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Contact, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Contact, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TownshipName, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.TownshipID, ViewBag.Township as SelectList, "--Select Township--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        @if ((ViewBag.Branches as SelectList).Count() > 0)
                        {
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.BranchName, new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.BranchID, ViewBag.Branches as SelectList, "--Select Branch--", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        }                       
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control textarea-height" })
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                                <div class="form-group">
                                    @Html.CheckBoxFor(m=>m.IsCredit)<label class="control-label">&nbsp;Credit</label> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        @if (ViewBag.FormType != 2)
                        {
                            <input type="submit" value="SAVE" formaction="@Url.Action("InsertCustomer","Customer")" class="btn btn-save-width btn-first float-right" />
                        }
                        else
                        {
                            <input type="submit" value="UPDATE" formaction="@Url.Action("UpdateCustomer","Customer")" class="btn btn-save-width btn-first float-right" />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

