@model Inventory.Models.SupplierModels.Supplier
@{
    ViewBag.Title = "SupplierEntry";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}
@section Scripts
{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    var ClearModel = function () {
        $("#txtCustomerName").val('');
        $("#txtCode").val('');
        $("#txtPhone").val('');
        $("#txtEmail").val('');
        $("#txtContact").val('');
        $("#ddlTownship").prop('selectedIndex', 0);
        $("#ddlBranch").prop('selectedIndex', 0);
        $("#txtAddress").val('');
        $("#chkIsCredit").prop('checked', false);
    }
</script>
}
<div class="container pl-0 pr-0">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            @if (ViewBag.FormType != 2)
            {
                <h5>Create Supplier</h5>
            }
            else
            {
                <h5>Edit Supplier</h5>
            }
        </div>
        <div class="col-md-6 col-lg-6">
            @Html.ActionLink("All Supplier", "SupplierList", "Supplier", null, new { @class = "btn btn-second float-right" })
        </div>
    </div>
    <div class="row border-bottom mt-2"></div>
    <div class="row">
        <div class="col-md-6 col-lg-6"></div>
        <div class="col-md-6 col-lg-6">
            @if (ViewBag.Message != null)
            {
                <div class="alert @(ViewBag.Type==1?"alert-success":"alert-danger")" role="alert">
                    <strong>@ViewBag.Message</strong>
                    <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
    </div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="row border ml-0 mr-0 mt-2">
            <div class="col-md-12 col-lg-12 bg-gray-color">
                <div class="row">
                    <div class="col-md-6 col-lg-6"><label class="mt-2 page-title">Supplier Detail</label></div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#" class="btn btn-setup-clear" onclick="ClearModel()"><i class="fas fa-redo clear-icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 mt-2">
                <div class="row mb-3">
                    <div class="col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.HiddenFor(m => m.SupplierID)
                                    @Html.LabelFor(m => m.SupplierName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control", id = "txtCustomerName" })
                                    @Html.ValidationMessageFor(m => m.SupplierName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "txtCode" })
                                    @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id = "txtPhone" })
                                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtEmail" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Contact, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", id = "txtContact" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TownshipName, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.TownshipID, ViewBag.Township as SelectList, new { @class = "form-control", id = "ddlTownship" })
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.isMultiBranch == true)
                        {
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.BranchName, new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.BranchID, ViewBag.Branches as SelectList, new { @class = "form-control", id = "ddlBranch" })
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control textarea-height", id = "txtAddress" })
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12 col-lg-12 mt-3">
                                <div class="form-group">
                                    @Html.CheckBoxFor(m => m.isCredit, new { @id = "chkIsCredit" })<label class="control-label">&nbsp;Credit</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        @if (ViewBag.FormType != 2)
                        {
                            <input type="submit" value="SAVE" formaction="@Url.Action("InsertSupplier","Supplier")" class="btn btn-save-width btn-first float-right" />
                        }
                        else
                        {
                            <input type="submit" value="UPDATE" formaction="@Url.Action("UpdateSupplier","Supplier")" class="btn btn-save-width btn-first float-right" />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

