@model IEnumerable<Inventory.Models.ProductModels.ProductModel>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}
@section Scripts
{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    var DeleteConfirm=function(productID)
    {
        $("#hiddenProductID").val(productID);
        $("#myConfirmModal").modal('show');
    }
    var DeleteProduct=function()
    {
        var id = $("#hiddenProductID").val();
        $.ajax({
            type: "POST",
            url: "/Product/DeleteProduct",
            data: { id: id },
            success:function(result)
            {
                $("#myConfirmModal").modal('hide');
                if (result == true) $("#row_" + id).remove();
            }
        })
    }
    var SearchProduct=function()
    {
        var product = $("#txtSearch").val();
        var mMenu = $("#ddlSearchMainMenu").val();
        var sMenu = $("#ddlSearchSubMenu").val();
        var productData = $("#searchProduct");
        productData.html("");
        $.ajax({
            type: "GET",
            url: "/Product/SearchProduct",
            data: { product: product, mMenu: mMenu, sMenu: sMenu },
            contentType: "html",
            success:function(result)
            {
                if (result.data1 == 0) {
                    var data = "<tr class='row bg-light-color'><td class='col-md-12 col-lg-12'><label class='text-center grid-nodata'>No Match Data Found</label></td></tr>"
                    productData.append(data);
                }
                else
                {
                    $.each(result.data1, function (index, value) {
                        if (result.data2 == false) {
                            var data = "<tr id='row_" + value.ProductID + "' class='row border border-bottom-0 border-left-0 border-right-0 grid-item'>" +
                                    "<td class='col-md-2 col-lg-2'>" + value.ProductName + "</td>" +
                                    "<td class='col-md-2 col-lg-2'>" + value.Code + "</td>" +
                                    "<td class='col-md-2 col-lg-2'>" + value.SubMenuName + "</td>" +
                                    "<td class='col-md-2 col-lg-2'>" + value.MainMenuName + "</td>" +
                                    "<td class='col-md-2 col-lg-2'>" + value.SalePrice + "</td>" +
                                    "<td class='col-md-2 col-lg-2 justify-content-end'>" + "<input type=button value='View' class='btn-grid-second pl-2 pr-2 pt-1 pb-1' onclick='ShowDetail(" + value.ProductID + ")' /><a href='/Product/EditProduct/" + value.ProductID + "' class='btn-grid-first ml-1 pl-2 pr-2 pt-1 pb-1'> Edit </a><input type=button value='Delete' class='btn-grid-red ml-1 pt-1 pb-1' onclick='DeleteConfirm(" + value.ProductID + ")' />" + "</td>" +
                                    "</tr>";
                        }
                        else {
                            var data = "<tr id='row_" + value.ProductID + "' class='row border border-bottom-0 border-left-0 border-right-0 grid-item'>" +
                                    "<td class='col-md-3 col-lg-3'>" + value.ProductName + "</td>" +
                                    "<td class='col-md-2 col-lg-2'>" + value.Code + "</td>" +
                                    "<td class='col-md-2 col-lg-2'>" + value.SubMenuName + "</td>" +
                                    "<td class='col-md-3 col-lg-3'>" + value.MainMenuName + "</td>" +
                                    "<td class='col-md-2 col-lg-2 justify-content-end'>" + "<input type=button value='View' class='btn-grid-second pl-2 pr-2 pt-1 pb-1' onclick='ShowDetail(" + value.ProductID + ")' /><a href='/Product/EditProduct/" + value.ProductID + "' class='btn-grid-first ml-1 pl-2 pr-2 pt-1 pb-1'> Edit </a><input type=button value='Delete' class='btn-grid-red ml-1 pt-1 pb-1' onclick='DeleteConfirm(" + value.ProductID + ")' />" + "</td>" +
                                    "</tr>";
                        }
                        productData.append(data);
                    });
                }
            }
        })
    }
</script>
}
<div class="container pl-0 pr-0">
    <div class="row border-bottom pb-2">
        <div class="col-md-6 col-lg-6">
            <h5>Product</h5>
        </div>
        <div class="col-md-6 col-lg-6">
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger" role="alert">
                    <strong>@ViewBag.Message</strong>
                </div>
            }
            @Html.ActionLink("ADD", "ProductEntry", "Product", null, new { @class = "btn btn-first float-right" })
        </div>
    </div>
    <!--Search Area-->
    <div class="row mt-2">
        <div class="col-md-4 col-lg-4">
            @Html.TextBox("txtSearch", null, new { @class = "form-control", @placeholder = "Search...",@id="txtSearch" })
        </div>
        <div class="col-md-3 col-lg-3">
            @Html.DropDownList("MainMenu", ViewBag.MainMenu as SelectList, "Choose MainMenu", new { @class = "form-control", id = "ddlSearchMainMenu" })
        </div>
        <div class="col-md-3 col-lg-3">
            @Html.DropDownList("SubMenu", ViewBag.SubMenu as SelectList, "Choose Sub Menu", new { @class = "form-control", id = "ddlSearchSubMenu" })
        </div>
        <div class="col-md-2 col-lg-2">
            <input type="button" value="Search" class="btn btn-outline-primary" onclick="SearchProduct();" />
        </div>
    </div>
    <!-- Product List Area -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="row pt-2 pl-3 pr-3 mb-3">
                <thead class="col-md-12 col-lg-12 border">
                    <tr class="row grid-header">
                        @if (ViewBag.isMultiUnit == false)
                        {
                            <th class="col-md-2 col-lg-2">Name</th>
                            <th class="col-md-2 col-lg-2">Code</th>
                            <th class="col-md-2 col-lg-2">Sub Menu</th>
                            <th class="col-md-2 col-lg-2">Main Menu</th>
                            <th class="col-md-2 col-lg-2">Sale Price</th>
                        }
                        else
                        {
                            <th class="col-md-3 col-lg-3">Name</th>
                            <th class="col-md-2 col-lg-2">Code</th>
                            <th class="col-md-2 col-lg-2">Sub Menu</th>
                            <th class="col-md-3 col-lg-3">Main Menu</th>
                        }
                        <th class="col-md-2 col-lg-2"></th>
                    </tr>
                </thead>
                <tbody class="col-md-12 col-lg-12 border" id="searchProduct">
                    @if (Model.Count() > 0)
                    {
                        foreach(var model in Model)
                        {
                            using (Html.BeginForm())
                            {
                                <tr id="row_@Convert.ToInt32(model.ProductID)" class="row border border-bottom-0 border-left-0 border-right-0 grid-item">
                                    @if (ViewBag.isMultiUnit == false)
                                    {
                                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(m=>model.ProductName)</td>
                                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(m => model.Code)</td>
                                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(m => model.SubMenuName)</td>
                                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(m => model.MainMenuName)</td>
                                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(m => model.SalePrice)</td>
                                    }
                                    else
                                    {
                                        <td class="col-md-3 col-lg-3">@Html.DisplayFor(m => model.ProductName)</td>
                                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(m => model.Code)</td>
                                        <td class="col-md-2 col-lg-2">@Html.DisplayFor(m => model.SubMenuName)</td>
                                        <td class="col-md-3 col-lg-3">@Html.DisplayFor(m => model.MainMenuName)</td>
                                    }
                                    <td class="col-md-2 col-lg-2 justify-content-end">
                                        <input type="button" value="View" class="btn-grid-second" />
                                        <input type="button" value="Edit" class="btn-grid-first" />
                                        <input type="button" value="Delete" onclick="DeleteConfirm(@Convert.ToInt32(model.ProductID))" class="btn-grid-red" />
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr class="row bg-light-color">
                            <td class="col-md-12 col-lg-12">
                                <label class="text-center grid-nodata">There is no data found...</label>
                            </td>
                        </tr>
                    }                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Delete Confirmation Area-->
<input type="hidden" id="hiddenProductID" />
<div class="modal fade" id="myConfirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete Confirmation</h5>
            </div>
            <div class="modal-body">
                <label class="page-title">Are you sure want to delete?</label>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-grid-first" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-grid-red" onclick="DeleteProduct()">Delete</a>
            </div>
        </div>
    </div>
</div>

